.manager-system {
    position: relative;
    height: 100vh;
    background-size: cover;
    background-image: url("../media/jpg/asus_rog_gamer's_room.jpg");

    &::before {
        content: '';
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        backdrop-filter: blur(5px);
        background-color: rgba(12, 12, 12, .5);
    }

    &__heading {
        position: relative;
        text-align: center;
        padding: 12px 0;
        color: rgb(255, 255, 255);
    }

    &__caption {
        padding: 12px 0;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        letter-spacing: 1.3px;
        color: rgb(255, 255, 255);
        background-image: linear-gradient(to right, rgba(48, 65, 81, .5), rgba(31, 41, 59, .5));
    }

    &__table {
        position: relative;
        width: 100%;
        margin-top: 65px;
        transform: scale(1.7);

        &-header {
            text-align: center;
            font-size: .7em;
            padding: 3px;
            color: rgb(255, 255, 255);
            background-color: rgba(0, 0, 0, .5);

            &:nth-child(3),
            &:nth-child(4),
            &:nth-child(5) {
                width: 93px;
            }
        }

        &-data {
            text-align: center;
            padding: 5px 7px;
            border-top: 1px solid rgb(199, 199, 199);
            border-bottom: 1px solid rgb(199, 199, 199);
            background-color: rgb(231, 225, 238);
        }

        &-start-button,
        &-begin-button,
        &-disable-button {
            cursor: pointer;
            border: none;
            padding: 3px 7px;
            margin: 3px;
            border-radius: 5px;
            font-size: .8em;
            color: rgb(242, 242, 242);

            &:disabled {
                color: rgb(255, 255, 255);
                background-color: rgba(55, 55, 55, 0.3);
            }
        }

        &-start-button {
            background-color: rgb(1, 195, 155);
        }

        &-begin-button {
            background-color: rgb(27, 111, 179);

        }

        &-disable-button {
            background-color: rgb(187, 23, 23);
        }

        &-status {
            span {
                display: inline-block;
                width: 8px;
                height: 8px;
                border-radius: 50%;
            }

            &--free {
                box-shadow: 0 0 3px 1.5px rgba(1, 195, 155, .5);
                background-color: rgb(1, 195, 155);
            }

            &--busy {
                box-shadow: 0 0 3px 1.5px rgba(187, 23, 23, 0.5);
                background-color: rgb(187, 23, 23);
            }
        }
    }
}