@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css');

@font-face {
    font-family: 'montserrat_regular';
    src: url('../vendors/fonts/google/montserrat/montserrat_regular.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
    font-family: 'montserrat_regular';
}